* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 15px;
    width: 500px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.header,
.conteudo {
    float: left;
    padding: 15px;
}

.header {
    margin: 0 auto;
    padding: 0;
}

p,
ul {
    color: #333;
    font-size: 14px;
}

ul {
    margin-left: 30px;
}

ul li {
    list-style: square;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100%;
    height: auto
}

a,
.titulo {
    color: #5e6e46;
}

.titulo {
    font-size: 20px;
    margin: 35px 0 15px 0;
    border-bottom: 1px solid #5e6e46;
    position: relative;
}

.titulo:after {
    content: " ";
    background: #5e6e46;
    height: 3px;
    width: 50px;
    display: block;
    position: absolute;
}

.redes-sociais {
    padding: 0;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-style: italic;
}

.redes-sociais a {
    margin: 0 5px 0 0;
}

.redes-sociais a,
.redes-sociais a i {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: contain;
}

.redes-sociais .instagram i {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzIuMDA0IiBo%0D%0AZWlnaHQ9IjEzMiIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxk%0D%0AZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iYiI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIj%0D%0AMzc3MWM4Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzM3NzFjOCIgb2Zmc2V0PSIuMTI4Ii8+PHN0b3Ag%0D%0Ab2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNjBmIiBzdG9wLW9wYWNpdHk9IjAiLz48L2xpbmVhckdy%0D%0AYWRpZW50PjxsaW5lYXJHcmFkaWVudCBpZD0iYSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9y%0D%0APSIjZmQ1Ii8+PHN0b3Agb2Zmc2V0PSIuMSIgc3RvcC1jb2xvcj0iI2ZkNSIvPjxzdG9wIG9mZnNl%0D%0AdD0iLjUiIHN0b3AtY29sb3I9IiNmZjU0M2UiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9%0D%0AIiNjODM3YWIiLz48L2xpbmVhckdyYWRpZW50PjxyYWRpYWxHcmFkaWVudCBpZD0iYyIgY3g9IjE1%0D%0AOC40MjkiIGN5PSI1NzguMDg4IiByPSI2NSIgeGxpbms6aHJlZj0iI2EiIGdyYWRpZW50VW5pdHM9%0D%0AInVzZXJTcGFjZU9uVXNlIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDAgLTEuOTgxOTggMS44%0D%0ANDM5IDAgLTEwMzEuNDAyIDQ1NC4wMDQpIiBmeD0iMTU4LjQyOSIgZnk9IjU3OC4wODgiLz48cmFk%0D%0AaWFsR3JhZGllbnQgaWQ9ImQiIGN4PSIxNDcuNjk0IiBjeT0iNDczLjQ1NSIgcj0iNjUiIHhsaW5r%0D%0AOmhyZWY9IiNiIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zv%0D%0Acm09Im1hdHJpeCguMTczOTQgLjg2ODcyIC0zLjU4MTggLjcxNzE4IDE2NDguMzQ4IC00NTguNDkz%0D%0AKSIgZng9IjE0Ny42OTQiIGZ5PSI0NzMuNDU1Ii8+PC9kZWZzPjxwYXRoIGZpbGw9InVybCgjYyki%0D%0AIGQ9Ik02NS4wMyAwQzM3Ljg4OCAwIDI5Ljk1LjAyOCAyOC40MDcuMTU2Yy01LjU3LjQ2My05LjAz%0D%0ANiAxLjM0LTEyLjgxMiAzLjIyLTIuOTEgMS40NDUtNS4yMDUgMy4xMi03LjQ3IDUuNDY4QzQgMTMu%0D%0AMTI2IDEuNSAxOC4zOTQuNTk1IDI0LjY1NmMtLjQ0IDMuMDQtLjU2OCAzLjY2LS41OTQgMTkuMTg4%0D%0ALS4wMSA1LjE3NiAwIDExLjk4OCAwIDIxLjEyNSAwIDI3LjEyLjAzIDM1LjA1LjE2IDM2LjU5LjQ1%0D%0AIDUuNDIgMS4zIDguODMgMy4xIDEyLjU2IDMuNDQgNy4xNCAxMC4wMSAxMi41IDE3Ljc1IDE0LjUg%0D%0AMi42OC42OSA1LjY0IDEuMDcgOS40NCAxLjI1IDEuNjEuMDcgMTguMDIuMTIgMzQuNDQuMTIgMTYu%0D%0ANDIgMCAzMi44NC0uMDIgMzQuNDEtLjEgNC40LS4yMDcgNi45NTUtLjU1IDkuNzgtMS4yOCA3Ljc5%0D%0ALTIuMDEgMTQuMjQtNy4yOSAxNy43NS0xNC41MyAxLjc2NS0zLjY0IDIuNjYtNy4xOCAzLjA2NS0x%0D%0AMi4zMTcuMDg4LTEuMTIuMTI1LTE4Ljk3Ny4xMjUtMzYuODEgMC0xNy44MzYtLjA0LTM1LjY2LS4x%0D%0AMjgtMzYuNzgtLjQxLTUuMjItMS4zMDUtOC43My0zLjEyNy0xMi40NC0xLjQ5NS0zLjAzNy0zLjE1%0D%0ANS01LjMwNS01LjU2NS03LjYyNEMxMTYuOSA0IDExMS42NCAxLjUgMTA1LjM3Mi41OTYgMTAyLjMz%0D%0ANS4xNTcgMTAxLjczLjAyNyA4Ni4xOSAwSDY1LjAzeiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4w%0D%0AMDQgMSkiLz48cGF0aCBmaWxsPSJ1cmwoI2QpIiBkPSJNNjUuMDMgMEMzNy44ODggMCAyOS45NS4w%0D%0AMjggMjguNDA3LjE1NmMtNS41Ny40NjMtOS4wMzYgMS4zNC0xMi44MTIgMy4yMi0yLjkxIDEuNDQ1%0D%0ALTUuMjA1IDMuMTItNy40NyA1LjQ2OEM0IDEzLjEyNiAxLjUgMTguMzk0LjU5NSAyNC42NTZjLS40%0D%0ANCAzLjA0LS41NjggMy42Ni0uNTk0IDE5LjE4OC0uMDEgNS4xNzYgMCAxMS45ODggMCAyMS4xMjUg%0D%0AMCAyNy4xMi4wMyAzNS4wNS4xNiAzNi41OS40NSA1LjQyIDEuMyA4LjgzIDMuMSAxMi41NiAzLjQ0%0D%0AIDcuMTQgMTAuMDEgMTIuNSAxNy43NSAxNC41IDIuNjguNjkgNS42NCAxLjA3IDkuNDQgMS4yNSAx%0D%0ALjYxLjA3IDE4LjAyLjEyIDM0LjQ0LjEyIDE2LjQyIDAgMzIuODQtLjAyIDM0LjQxLS4xIDQuNC0u%0D%0AMjA3IDYuOTU1LS41NSA5Ljc4LTEuMjggNy43OS0yLjAxIDE0LjI0LTcuMjkgMTcuNzUtMTQuNTMg%0D%0AMS43NjUtMy42NCAyLjY2LTcuMTggMy4wNjUtMTIuMzE3LjA4OC0xLjEyLjEyNS0xOC45NzcuMTI1%0D%0ALTM2LjgxIDAtMTcuODM2LS4wNC0zNS42Ni0uMTI4LTM2Ljc4LS40MS01LjIyLTEuMzA1LTguNzMt%0D%0AMy4xMjctMTIuNDQtMS40OTUtMy4wMzctMy4xNTUtNS4zMDUtNS41NjUtNy42MjRDMTE2LjkgNCAx%0D%0AMTEuNjQgMS41IDEwNS4zNzIuNTk2IDEwMi4zMzUuMTU3IDEwMS43My4wMjcgODYuMTkgMEg2NS4w%0D%0AM3oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEuMDA0IDEpIi8+PHBhdGggZmlsbD0iI2ZmZiIgZD0i%0D%0ATTY2LjAwNCAxOGMtMTMuMDM2IDAtMTQuNjcyLjA1Ny0xOS43OTIuMjktNS4xMS4yMzQtOC41OTgg%0D%0AMS4wNDMtMTEuNjUgMi4yMy0zLjE1NyAxLjIyNi01LjgzNSAyLjg2Ni04LjUwMyA1LjUzNS0yLjY3%0D%0AIDIuNjY4LTQuMzEgNS4zNDYtNS41NCA4LjUwMi0xLjE5IDMuMDUzLTIgNi41NDItMi4yMyAxMS42%0D%0ANUMxOC4wNiA1MS4zMjcgMTggNTIuOTY0IDE4IDY2cy4wNTggMTQuNjY3LjI5IDE5Ljc4N2MuMjM1%0D%0AIDUuMTEgMS4wNDQgOC41OTggMi4yMyAxMS42NSAxLjIyNyAzLjE1NyAyLjg2NyA1LjgzNSA1LjUz%0D%0ANiA4LjUwMyAyLjY2NyAyLjY3IDUuMzQ1IDQuMzE0IDguNSA1LjU0IDMuMDU0IDEuMTg3IDYuNTQz%0D%0AIDEuOTk2IDExLjY1MiAyLjIzIDUuMTIuMjMzIDYuNzU1LjI5IDE5Ljc5LjI5IDEzLjAzNyAwIDE0%0D%0ALjY2OC0uMDU3IDE5Ljc4OC0uMjkgNS4xMS0uMjM0IDguNjAyLTEuMDQzIDExLjY1Ni0yLjIzIDMu%0D%0AMTU2LTEuMjI2IDUuODMtMi44NyA4LjQ5Ny01LjU0IDIuNjctMi42NjggNC4zMS01LjM0NiA1LjU0%0D%0ALTguNTAyIDEuMTgtMy4wNTMgMS45OS02LjU0MiAyLjIzLTExLjY1LjIzLTUuMTIuMjktNi43NTIu%0D%0AMjktMTkuNzg4IDAtMTMuMDM2LS4wNi0xNC42NzItLjI5LTE5Ljc5Mi0uMjQtNS4xMS0xLjA1LTgu%0D%0ANTk4LTIuMjMtMTEuNjUtMS4yMy0zLjE1Ny0yLjg3LTUuODM1LTUuNTQtOC41MDMtMi42Ny0yLjY3%0D%0ALTUuMzQtNC4zMS04LjUtNS41MzUtMy4wNi0xLjE4Ny02LjU1LTEuOTk2LTExLjY2LTIuMjMtNS4x%0D%0AMi0uMjMzLTYuNzUtLjI5LTE5Ljc5LS4yOXptLTQuMzA2IDguNjVjMS4yNzgtLjAwMiAyLjcwNCAw%0D%0AIDQuMzA2IDAgMTIuODE2IDAgMTQuMzM1LjA0NiAxOS4zOTYuMjc2IDQuNjguMjE0IDcuMjIuOTk2%0D%0AIDguOTEyIDEuNjUzIDIuMjQuODcgMy44MzcgMS45MSA1LjUxNiAzLjU5IDEuNjggMS42OCAyLjcy%0D%0AIDMuMjggMy41OTIgNS41Mi42NTcgMS42OSAxLjQ0IDQuMjMgMS42NTMgOC45MS4yMyA1LjA2LjI4%0D%0AIDYuNTguMjggMTkuMzlzLS4wNSAxNC4zMy0uMjggMTkuMzljLS4yMTQgNC42OC0uOTk2IDcuMjIt%0D%0AMS42NTMgOC45MS0uODcgMi4yNC0xLjkxMiAzLjgzNS0zLjU5MiA1LjUxNC0xLjY4IDEuNjgtMy4y%0D%0ANzUgMi43Mi01LjUxNiAzLjU5LTEuNjkuNjYtNC4yMzIgMS40NC04LjkxMiAxLjY1NC01LjA2LjIz%0D%0ALTYuNTguMjgtMTkuMzk2LjI4LTEyLjgxNyAwLTE0LjMzNi0uMDUtMTkuMzk2LS4yOC00LjY4LS4y%0D%0AMTYtNy4yMi0uOTk4LTguOTEzLTEuNjU1LTIuMjQtLjg3LTMuODQtMS45MS01LjUyLTMuNTktMS42%0D%0AOC0xLjY4LTIuNzItMy4yNzYtMy41OTItNS41MTctLjY1Ny0xLjY5LTEuNDQtNC4yMy0xLjY1My04%0D%0ALjkxLS4yMy01LjA2LS4yNzYtNi41OC0uMjc2LTE5LjM5OHMuMDQ2LTE0LjMzLjI3Ni0xOS4zOWMu%0D%0AMjE0LTQuNjguOTk2LTcuMjIgMS42NTMtOC45MTIuODctMi4yNCAxLjkxMi0zLjg0IDMuNTkyLTUu%0D%0ANTIgMS42OC0xLjY4IDMuMjgtMi43MiA1LjUyLTMuNTkyIDEuNjkyLS42NiA0LjIzMy0xLjQ0IDgu%0D%0AOTEzLTEuNjU1IDQuNDI4LS4yIDYuMTQ0LS4yNiAxNS4wOS0uMjd6bTI5LjkyOCA3Ljk3Yy0zLjE4%0D%0AIDAtNS43NiAyLjU3Ny01Ljc2IDUuNzU4IDAgMy4xOCAyLjU4IDUuNzYgNS43NiA1Ljc2IDMuMTgg%0D%0AMCA1Ljc2LTIuNTggNS43Ni01Ljc2IDAtMy4xOC0yLjU4LTUuNzYtNS43Ni01Ljc2em0tMjUuNjIy%0D%0AIDYuNzNjLTEzLjYxMyAwLTI0LjY1IDExLjAzNy0yNC42NSAyNC42NSAwIDEzLjYxMyAxMS4wMzcg%0D%0AMjQuNjQ1IDI0LjY1IDI0LjY0NUM3OS42MTcgOTAuNjQ1IDkwLjY1IDc5LjYxMyA5MC42NSA2NlM3%0D%0AOS42MTYgNDEuMzUgNjYuMDAzIDQxLjM1em0wIDguNjVjOC44MzYgMCAxNiA3LjE2MyAxNiAxNiAw%0D%0AIDguODM2LTcuMTY0IDE2LTE2IDE2LTguODM3IDAtMTYtNy4xNjQtMTYtMTYgMC04LjgzNyA3LjE2%0D%0AMy0xNiAxNi0xNnoiLz48L3N2Zz4=');
}

.redes-sociais .facebook i {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFk%0D%0Ab2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246%0D%0AIDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZH%0D%0AIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5k%0D%0AdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3Lncz%0D%0ALm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsi%0D%0AIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNjYuODkzcHgiIGhlaWdodD0iMjY2Ljg5NXB4IiB2%0D%0AaWV3Qm94PSIwIDAgMjY2Ljg5MyAyNjYuODk1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAy%0D%0ANjYuODkzIDI2Ni44OTUiCgkgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGlkPSJCbHVlXzFf%0D%0AIiBmaWxsPSIjM0M1QTk5IiBkPSJNMjQ4LjA4MiwyNjIuMzA3YzcuODU0LDAsMTQuMjIzLTYuMzY5%0D%0ALDE0LjIyMy0xNC4yMjVWMTguODEyCgljMC03Ljg1Ny02LjM2OC0xNC4yMjQtMTQuMjIzLTE0LjIy%0D%0ANEgxOC44MTJjLTcuODU3LDAtMTQuMjI0LDYuMzY3LTE0LjIyNCwxNC4yMjR2MjI5LjI3YzAsNy44%0D%0ANTUsNi4zNjYsMTQuMjI1LDE0LjIyNCwxNC4yMjUKCUgyNDguMDgyeiIvPgo8cGF0aCBpZD0iZiIg%0D%0AZmlsbD0iI0ZGRkZGRiIgZD0iTTE4Mi40MDksMjYyLjMwN3YtOTkuODAzaDMzLjQ5OWw1LjAxNi0z%0D%0AOC44OTVoLTM4LjUxNVY5OC43NzdjMC0xMS4yNjEsMy4xMjctMTguOTM1LDE5LjI3NS0xOC45MzUK%0D%0ACWwyMC41OTYtMC4wMDlWNDUuMDQ1Yy0zLjU2Mi0wLjQ3NC0xNS43ODgtMS41MzMtMzAuMDEyLTEu%0D%0ANTMzYy0yOS42OTUsMC01MC4wMjUsMTguMTI2LTUwLjAyNSw1MS40MTN2MjguNjg0aC0zMy41ODV2%0D%0AMzguODk1aDMzLjU4NQoJdjk5LjgwM0gxODIuNDA5eiIvPgo8L3N2Zz4K');
}

.redes-sociais .messenger i {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxz%0D%0AdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBoZWlnaHQ9IjIyNnB4IiB3aWR0%0D%0AaD0iMjI0cHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDIyNCAyMjYiPgogPGRlZnM+CiAg%0D%0APGxpbmVhckdyYWRpZW50IGlkPSJhIiB5MT0iNi43NiUiIHgyPSI1MCUiIHgxPSI1MCUiIHkyPSI5%0D%0ANS42JSI+CiAgIDxzdG9wIHN0b3AtY29sb3I9IiMwMEM2RkYiIG9mZnNldD0iMCIvPgogICA8c3Rv%0D%0AcCBzdG9wLWNvbG9yPSIjMDA2OEZGIiBvZmZzZXQ9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50Pgog%0D%0APC9kZWZzPgo8cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJtNDEuMjU1IDE4NS41MnY0MC4ybDM3LjU4%0D%0AOS0yMS4zN2MxMC40NzggMy4wMiAyMS42MTYgNC42NSAzMy4xNTYgNC42NSA2MS44NiAwIDExMi00%0D%0ANi43OSAxMTItMTA0LjUgMC01Ny43MTQtNTAuMTQtMTA0LjUtMTEyLTEwNC41LTYxLjg1NiAwLTEx%0D%0AMiA0Ni43ODYtMTEyIDEwNC41IDAgMzIuNjggMTYuMDc4IDYxLjg2IDQxLjI1NSA4MS4wMnoiLz4K%0D%0APHBhdGggZmlsbD0iI2ZmZiIgZD0ibTEwMC4wNCA3NS44NzhsLTYwLjQwMSA2My45NTIgNTQuOTct%0D%0AMzAuMTYgMjguNzIxIDMwLjE2IDYwLjA2LTYzLjk1Mi01NC4zNiAyOS42MzItMjguOTktMjkuNjMy%0D%0AeiIvPgo8L3N2Zz4K');
}

.redes-sociais span {
    margin-top: 3px;
    position: absolute;
    display: inline-block;
    padding: 0;
}

#facebook {
    margin: 15px 0;
}