* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 15px;
    width: 500px;
    margin: 0 auto;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.header,
.conteudo {
    float: left;
    padding: 15px;
}

.header {
    margin: 0 auto;
    padding: 0;
}

p,
ul {
    color: #333;
    font-size: 14px;
}

ul {
    margin-left: 30px;
}

ul li {
    list-style: square;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100%;
    height: auto
}

a,
.titulo {
    color: #5e6e46;
}

.titulo {
    font-size: 20px;
    margin: 35px 0 15px 0;
    border-bottom: 1px solid #5e6e46;
    position: relative;
}

.titulo:after {
    content: " ";
    background: #5e6e46;
    height: 3px;
    width: 50px;
    display: block;
    position: absolute;
}

.redes-sociais {
    padding: 0;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-style: italic;
}

.redes-sociais a {
    margin: 0 5px 0 0;
}

.redes-sociais a,
.redes-sociais a i {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: contain;
}

.redes-sociais .instagram i {
    background-image: url('https://raw.githubusercontent.com/AlecrimSana/alecrimsana.github.io/master/img/instagram.svg');
}

.redes-sociais .facebook i {
    background-image: url('https://raw.githubusercontent.com/AlecrimSana/alecrimsana.github.io/master/img/facebook.svg');
}

.redes-sociais .messenger i {
    background-image: url('https://raw.githubusercontent.com/AlecrimSana/alecrimsana.github.io/master/img/messenger.svg');
}

.redes-sociais span {
    margin-top: 3px;
    position: absolute;
    display: inline-block;
    padding: 0;
}

#facebook {
    margin: 15px 0;
}